{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tranquility-labs.myshopify.com/blogs/configure/200189/edit
{% endcomment %}
{% if blog.metafields.custom_fields["blog_promo_1"] != blank %}
  <div class="custom-field custom-field__blog-promo-1 custom-field__type--text">
    <h3 class="custom-field--title">Blog Promo 1</h3>
    <div class="custom-field--value">
      {{ blog.metafields.custom_fields["blog_promo_1"] }}
    </div>
  </div>
{% endif %}