<section class="section-rx-transfer-form">
    <div class="formContainer">
        <form action="mailto:saul@svea-media.com" method="post" id="formGeneratorForm">
            <div class="form_generater_form_div">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="form_title_div">
                            <h3>Transfer Prescriptions to Express Vet</h3>
                        </div>
                    </div>
                    <div class="col-md-12 clearfix">
                        <div class="alert_message" style="display: none;">
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                Thank you! The form was submitted successfully.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form_element clearfix">
                        <div class="row form_container">
                            <div class="formElement_0 form-group fadeMe text clearfix col-sm-12 raw_html" data-count="0" id="">
                                <div class="text-wrapper">
                                    <p>Thanks for choosing Express Vet. You can transfer your prescriptions to us from another pharmacy in 3 steps.</p>
                                    <p>Learn about our pickup and delivery options after transferring your prescriptions</p>
                                    <p>All fields are required unless marked optional.</p>
                                </div>
                            </div>
                            <div class="formElement_1 form-group fadeMe text clearfix col-sm-12 label paymentCount" data-count="1" id="">
                                <label class=" block_label only_label sub-heading" id="form_input_1" for="form_input_1">Identify Current Pharmacy</label>
                            </div>
                            <div class="formElement_2 form-group fadeMe text clearfix half-input textfield paymentCount" data-count="2">
                                <label class="fitText block_label" style="display: block;">Pharmacy Name*</label>
                                <input
                                    class="form-control required"
                                    name="Pharmacy Name"
                                    id="form_input_2"
                                    type="text"
                                    placeholder=""
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: 16px 18px;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>
                            <div class="formElement_3 form-group fadeMe text clearfix half-input textfield paymentCount" data-count="3">
                                <label class="fitText block_label" style="display: block;">Pharmacy Tel*</label>
                                <input class="form-control required" name="Pharmacy Tel" id="form_input_3" type="text" placeholder="" />
                            </div>
                            <div class="formElement_4 form-group fadeMe text clearfix col-sm-12 label paymentCount" data-count="4" id="">
                                <label class=" block_label only_label sub-heading" id="form_input_4" for="form_input_4">Enter Your Prescription</label>
                            </div>
                            <div class="formElement_5 form-group fadeMe text clearfix half-input textfield paymentCount" data-count="5">
                                <label class="fitText block_label" style="display: block;">First Name*</label><input class="form-control required" name="First Name" id="form_input_5" type="text" placeholder="" />
                            </div>
                            <div class="formElement_6 form-group fadeMe text clearfix half-input textfield paymentCount" data-count="6">
                                <label class="fitText block_label" style="display: block;">Last Name*</label><input class="form-control required" name="Last Name" id="form_input_6" type="text" placeholder="" />
                            </div>
                            <div class="formElement_7 form-group fadeMe text clearfix col-sm-12 newDate paymentCount" data-count="7" id="">
                                <div class="row">
                                    <label class="fitText col-sm-12 block_label" for="form_input_7">Patient DOB*</label>
                                    <div class="col-sm-12" id="newdate_7"><input class="form-control required" name="Patient DOB" id="form_input_7" type="text" placeholder=""  /></div>
                                </div>
                            </div>
                            <div class="formElement_8 form-group fadeMe text clearfix col-sm-12 label paymentCount" data-count="8" id="">
                                <label class=" block_label only_label sub-heading" id="form_input_8" for="form_input_8">Current Medications</label>
                            </div>
                            <div class="formElement_9 form-group fadeMe text clearfix col-sm-12 raw_html" data-count="9" id=""><p>Please enter full name of your pet's medications</p></div>
                            <div class="formElement_10 form-group fadeMe text clearfix col-sm-12 raw_html" data-count="10" id="">
                                <div class="medication-wrapper">
                                    <div class="medication-item"
                                        <div class="medication-top"><label for="medication">Medication</label></div>
                                        <input class="form-control medication" id="" name="Medication" placeholder="" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="formElement_11 form-group fadeMe text clearfix col-sm-12 raw_html" data-count="11" id=""></div>
                            <div class="formElement_12 form-group fadeMe text clearfix col-sm-12 raw_html" data-count="12" id="">
                                <p class="add-wrapper"><span style="color: blue;">+</span>Add another prescription</p>
                            </div>

                            <div class="formElement_13 form-group fadeMe text clearfix col-sm-12 label paymentCount" data-count="13" id="">
                                <label class="fitText block_label only_label sub-heading" id="form_input_13" for="form_input_13">Free Pet Portrait</label>
                            </div>
                            <div class="formElement_14 form-group fadeMe text clearfix col-sm-12 image" data-count="14" id="">
                                <input
                                    type="file"
                                    name="Choose an Image"
                                    id="imageupload_14"
                                    accept=".gif,.png,.jpg,.jpeg"
                                    class="inputfile"
                                    data-filetype="image"
                                    data-alloudupload="20"
                                    data-multiple="true"
                                    style="display: none;"
                                    multiple="multiple"
                                />
                                <label for="imageupload_14">Choose an Image</label>

                                <span class="fileres"></span>
                            </div>

                            <div class="formElement_15 form-group fadeMe text clearfix col-sm-12 label paymentCount" data-count="15" id="">
                                <label class="fitText block_label only_label sub-heading" id="form_input_15" for="form_input_15">How can we reach you?</label>
                            </div>
                            <div class="formElement_16 form-group fadeMe text clearfix half-input email paymentCount" data-count="16">
                                <label class="fitText block_label" style="display: block;">Email*</label><input class="form-control required email_confirm" id="form_input_16" name="Email" type="email" placeholder="" />
                            </div>
                            <div class="formElement_17 form-group fadeMe text clearfix half-input textfield paymentCount" data-count="17">
                                <label class="fitText block_label" style="display: block;">Phone number*</label><input class="form-control required" name="Phone number" id="form_input_17" type="text" placeholder="" />
                            </div>
                        </div>

                        <div class="form_submit_div text-right">
                            <button type="submit" class="btn">Submit <span class="price"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/script">
    let addRxBtn = document.querySelector(".add-wrapper");
    let medicationWrapper = document.querySelector(".medication-wrapper");
    
    addRxBtn.addEventListener("click",()=>{
        let medicationInput = document.createElement("div");
        medicationInput.classList.add("medication-item");
    let medicationInputInner = `
        <div class="medication-top">
          <label for="medication">Medication</label>
          <div class="remove-med">X</div>
        </div>
        <input class="form-control medication" id="" name="medication" placeholder="" type="text" />
    `
    medicationInput.innerHTML = medicationInputInner;
    medicationWrapper.append(medicationInput) ;
    removeMed()
    });
    
    function removeMed(){
        let removeMedArr = document.querySelectorAll(".remove-med");
    
        removeMedArr.forEach((el)=>{
            el.addEventListener("click",(e)=>{
                let medicationItemArr = document.querySelectorAll(".medication-item")
    
                for (let i = 0; i < removeMedArr.length; i++){
                    if (e.target == removeMedArr[i]){
                        let parent = removeMedArr[i].parentNode;
                        parent.parentNode.remove();
                    }
                }
            })
        })
        
    }
</script>