{% section "page-section-image" %}
<div class="page-width page-content">
  {% section 'page-section-icons-with-header' %}
</div>
{% section "page-section-icon-separator" %}
{% section "page-section-featured-collection" %}
{% section "page-section-shop-by-pet" %}
{% section "section-accordion" %}
