<div class="page-width page-content" style="width: 100%;max-width: 100%;">

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
       
<div class="container-fluid bg-shadow pb-5" style="padding: 35px;margin: auto;width: 50%;margin-bottom: 40px;">
	<div class="container">
    	<div class="row">
        	<div class="mx-auto col-xl-6 col-lg-8 col-md-10 pb-5 pb-mb-0" style="width: 100%;">
            	<h1 style="text-align:center">To our anxious, stressed-out, 
always-worrying friends,</h1>
<p>A silent killer is affecting more than 20 million men and women and, if you've found this site, it's probably affecting you. That anxious mood. The unshakeable worry.</p>
<p>When your heart is racing, your stomach churning, you don't know what to do and troubles that look easy for other people to handle seem like they're bringing down your entire world. <strong>We know how hopeless and chaotic it can feel.</strong></p>
<p>You start to discover the things that set you off, but you can't avoid them all. And there are always unexpected situations.</p>
<p>Maybe you've tried counseling, but it only made you feel better for a little while. Maybe you tried meds but they left you feeling changed somehow, like a different person. <strong>You need sleep to stay calm, but you're so stressed and nervous you can't get any sleep.</strong> And the worst part is the look on your loved ones' faces, like they just don't understand what you're going through.</p>

<p><strong>It's not in your head, it's in your body.</strong> What we have discovered is that a majority of people who suffer from persistent nervousness, panic and elevated stress levels are often missing key nutritional elements in their diet, which throws their brain chemistry off balance. This can put your body's natural "stress response" on an unnatural hair-trigger. With the increasingly nutrient-deficient food on the market today, these kinds of issues are on the rise in a major way.</p>
            </div>
        </div>
     </div>
</div>
       <div class="container-fluid bg-shadow pb-5" style="padding: 35px;margin: auto;width: 50%;margin-bottom: 40px;">
	<div class="container">
    	<div class="row">
        	<div class="mx-auto col-xl-6 col-lg-8 col-md-10 pb-5 pb-mb-0" style="width: 100%;">
            	<h2 style="text-align:center">We have good news.</h2>
<p>We at Tranquility Labs want to share with you <strong>a number of exciting advancements that have been made in the science of fighting severe stress, ongoing nervousness and panic.</strong> In recent years, the scientific community has finally begun to seriously study ancient eastern remedies from healing traditions like Ayurveda and Traditional Chinese medicine. A handful of enzymes, amino acids, herbal extracts, vitamins and minerals have been identified as effective in calming nerves of both men and women. The powerful result when these vitamins, minerals, amino acids, enzymes and herbs are combined has to be seen to believed.</p>
<p>Tranquilene works by optimizing the effects of these natural compounds and other key ingredients in a powerful but safe and non-addictive supplement. </p>
            </div>
        </div>
     </div>
</div>

         <div class="container-fluid pt-5 pb-5" id="components">
			<div class="container">
    
              <div class="row" style="padding:30px">
        	<div class="col-md-12 p-0 pt-4 pt-mb-0">
            	<div class="col-md-6 p-0 float-left">
                <div class="heading-block">
                	<h2>Here are Tranquilene's<br> 
                        main natural components </h2>
                        </div>
                </div>
                <div class="col-md-6 pr-0 float-right mb-4 pr-mb-0" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>advancement 1</small>
                        <h3>L–Theanine</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-1.jpg" style="float: right;height: 175px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        L–theanine, an amino acid found in green tea, produces a feeling of tranquility in as little as 15 minutes. L–theanine is a critical building block of the GABA neurotransmitter (natural messenger in the brain) that promotes relaxation and helps keep your nerves calm. L–theanine also stimulates the release of a 
					neurotransmitter responsible for confidence and a sense of well-being.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>advancement 2</small>
                        <h3>GABA</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-2.jpg" style="float: right;height: 175px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        GABA is an amino acid and the main inhibitory (calming) neurotransmitter in the brain. GABA is a natural calming agent that prevents excessive muscle tension and helps our bodies make endorphins, chemicals that make us feel happy. Deficiencies of GABA in the brain have been linked to sleeplessness and feeling stressed.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>advancement 3</small>
                        <h3>Ashwagandha Root</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-3.jpg" style="float: right;height: 150px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Ashwagandha has been used in the Indian tradition of Ayurveda in health tonics and calming serums. In addition to the raw root, Tranquilene includes a powerful Ashwagandha extract called KSM-66®, which reduced patients' perceived stress levels by 44% in double-blind clinical studies.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" >
                	<div class="aricle-block">
                    	<small>advancement 4</small>
                        <h3>Brahmi (Bacopa)</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-4.jpg" style="float: right;height: 155px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Often used by Ayurvedic healers to accompany Ashwagandha, Brahmi (a.k.a. Bacopa Monnieri) is a mild sedative that supports the body during periods of emotional stress. Traditionally, healers recommended Brahmi to promote healthy cognitive functions, including focus, concentration, mental endurance and memory.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>advancement 5</small>
                        <h3>Tryptophan</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-5.jpg" style="float: right;height: 175px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Tryptophan is the number 1 supplement purchased for stress issues. It is an essential amino acid that the body converts into 5-HTP, and then to Serotonin. Serotonin is involved in mood, appetite, sleep and impulse control. Once the Serotonin neurotransmitter is made, the brain is able to convert it into melatonin, the sleep-inducing hormone, at night.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>advancement 6</small>
                        <h3>Passion Flower</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-6.jpg" style="float: right;height: 150px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        For centuries, herbal medicine practitioners have used Passion Flower as a natural remedy for nervousness, frequent worry and occasional sleeplessness. Modern studies shows that Passion Flower extract significantly lowers nervous, panicky emotions and promotes a more tranquil frame of mind.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>advancement 7</small>
                        <h3>Magnesium</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-7.jpg" style="float: right;height: 140px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Magnesium deficiency is one of the leading causes of elevated and persistent stress and nervousness – and the western diet tends to be lacking in this critical element. Research now shows that as magnesium levels drop, stress levels increase.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>advancement 8</small>
                        <h3>Niacin</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-8.jpg" style="float: right;height: 175px;" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Niacinamide, a type of vitamin B3, works with the body to convert Tryptophan into 5-HTP, which can then be converted into Serotonin. Without B3, Tryptophan–5HTP conversion cannot take place. Common symptoms of B3 deficiency include irritability, poor concentration, nervousness, fatigue, restlessness, apathy, and low mood. </p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>advancement 9</small>
                        <h3>Vitamin B Complex</h3>
                        <p> 
                        <img src="https://tranquilene.com/tranquilene/images/advancement-9.jpg" alt="advancement" style="float: right;height: 175px;" class="float-right border-radius ml-4 advan-mb">
                        Getting enough of the many forms of Vitamin B is essential to maintaining proper brain function. Vitamin B is involved in the metabolism, as well as the production of Serotonin. Low levels of Vitamin B have been linked to increased stress levels, nervousness, fatigue, irritability, and emotional instability. Tranquilene contains vitamins B1, B3, B5, B6 and B12.</p>
                    </div>
                </div>	
            </div>

            <div class="join-button-wb float-left mx-auto mt-4 pr-mb-0" style="width: 100% !important;margin: 5% 0 0 0px;">
                        	<a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm">ADD TO CART</a>
            </div>
				
            
            
            
            
        </div>
          
      </div>
    </div>
        
       <div class="container-fluid bg-shadow pt-5 pb-5">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5 pt-mb-0">
            	<div class="col-md-6 float-right pr-mb-0"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/supplement.jpg?v=1604394035" alt="supplement" class="img-fluid">
                </div>
            	<div class="col-md-6 pl-5 pr-3 float-left pr-mb-0">
                	<h2>When we combined these into a supplement we were astounded by the results</h2>
                    <p>Not only did <strong>the panicked nerves blissfully calm down FAST,</strong> instances of stressful over-worrying grew less frequent over time. But the secret behind our success was an enabling nutrient blend, formulated through a great deal of research and development, which intensifies the power of these ingredients, including: Niacin, GABA, B-Complex, green tea extract and more. </p>
                    <p>Fast forward to the present day, and we have what we believe to be the most successful, fast-acting stress-calming supplement available. The results have to be seen to be believed.</p>
                </div>
                
            </div>
        </div>
    </div>
</div> 
        
<div class="container-fluid pt-5 pb-5 pb-mb-0">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5 mb-4">
            	<div class="col-md-6 pt-4 float-left pr-mb-0"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/tranquilene.jpg?v=1604394149" alt="supplement" class="img-fluid mb-4">
                <div class="join-button-wb col-xl-12 col-lg-12 col-md-12 text-center below-image">
                   <a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm" class="col-md-12">ADD TO CART</a>
                </div>
                <center><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/free-shipping.png?v=1603975319" alt="free-shipping" class="free-sticker-size"></center>
                </div>
            	<div class="col-md-6 pl-5 pr-3 float-left pr-mb-0">
                	<h4 style="font-size: 40px;line-height: 1.2;">Tranquilene is the most advanced, effective, natural specialty 
supplement for stressed out, 
nervous men and women.</h4>
                    <p>That's because no other company has put the time, care and research we have into developing a formula that acts to immediately calm your nerves while also supporting long-term mood improvements – taking into account all of the emerging scientific research. <strong>No other company has a product that acts as fast AND gets more effective the more you use it.</strong> We' say once you try it you'll be hooked, but Tranquilene is 100% non-addictive.</p>
                    <p>When you join our Tranquilene Program, we send you a monthly supply of our exclusive formula until you see the results you're looking for: a calmer, happier you.</p>
                    <p>Take back control and put an end to the sleepless nights, the gripping tension, the persistent worry. Starting today, you will begin to discover the calm, tranquil you underneath the stressed–out exterior. You can find Total Calm without addictive substances that change who you are. You can find that inner happiness where eastern herbal wisdom meets western nutritional science. Tranquilene will help you find that Total Calm — or your money back.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
     
        <div class="container-fluid bg-grey pt-5 pb-5 mb-white-bl pb-mb-0 pt-mb-0 tranquilene-program">
	<div class="container">
    	<div class="row pb-3">
          <div class="col-md-3"></div>
        	<div class="mx-auto col-xl-6 col-lg-8 col-md-6 pt-4" style="background: white;width: 50%;">
            	<div class="pb-5 p-0">
                	<div class="col-md-12 p-0 pt-5">
                    	<!--<center><img src="https://tranquilene.com/tranquilene/images/product-big.jpg" alt="tranquilene-herbal"></center>-->
                        <!--Carousel Wrapper-->
          <div class="slideshow-container">
              <div class="mySlides ">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/product-big.jpg?v=1603975783" style="width:100%">
                
              </div>

              <div class="mySlides ">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/offer1asuppfacts.png?v=1604394980" style="width:100%">
               
              </div>
            <div class="arrowButtons">
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
              </div>
                        <!--/.Carousel Wrapper-->
                        <h2 class="text-center mt-3 m-0">Tranquilene Program</h2>
                        <small class="small-text">a monthly delivery of our powerful supplement</small>
                      <div class="col-md-2"></div>
                        <div class="mx-auto col-xl-8 col-lg-8 col-md-8 pt-4 pb-3" style="margin-bottom: 30px;">
                        	<ul class="price-info-list">
                            	<li><strong>List Price:</strong> <strike>$42.50</strike></li>
                                <li><strong>Sale Price:</strong> <span>$34.95 per month</span></li>
                                <li><strong>Shipping:</strong> Free shipping. Ships within 24 hours.</li>
                                <li><strong>Contains:</strong> 60 capsules - 30 day supply</li>
                                <li><strong>Delivered:</strong> Every 30 days. Cancel easily, anytime</li>
                                <li><strong>Guarantee:</strong> <u>60 day full money-back guarantee.</u></li>
                            </ul>
                           <div class="join-button-wb" style="width:100% !important">
                        	<a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm">ADD TO CART</a>
                        </div>
                        <center><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/free-shipping.png?v=1603975319" alt="free-shipping" class="free-sticker-size"></center>

                        </div>
                      <div class="col-md-2"></div>
                                           </div>
                </div>
            </div>
          <div class="col-md-3"></div>
        </div>
     </div>   
</div>
        
           <section id="content">
			<!--/#accordion-->

		<div id="description">
				<h2>Frequently Asked Questions</h2>
				
		</div>
		<div id="accordion" class="accordion-container">
				<article class="content-entry">
						<h4 class="article-title"><i></i> How do I know if Tranquilene is right for me?</h4>
						<div class="accordion-content">
								<p>Tranquilene is for men or women who are experiencing:
                                    Nervousness
                                    Frequent Worry
                                    Muscle Tension
                                    High Stress
                                    Panicky Moods
                                    Trouble Sleeping
                          </p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i> Where is Tranquilene manufactured?</h4>
						<div class="accordion-content">
								<p>Tranquilene is made in the USA in a facility that meets FDA guidelines and was awarded the NSF Good Manufacturing Practices (GMP) seal of approval. We are proud to manufacture Tranquilene in the USA.</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i> How long will it take to reach me?</h4>
						<div class="accordion-content">
								<p>All orders are shipped USPS First Class with tracking. Orders are shipped within one business day and, for orders within the US, it typically takes 3-5 business days to reach you.</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i> How long does Tranquilene take to work?</h4>
						<div class="accordion-content">
								<p>Our formula works in two parts: 1) to bring down current stress levels quickly and 2) to restore balance to your body's natural stress fighting systems. The immediate effects can take edge off in as few as 20 to 30 minutes. The long term balance takes consistency, however, which is why we recommend taking Tranquilene for at least three or four months.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i> Is it shipped discreetly?</h4>
						<div class="accordion-content">
								<p>Yes, it comes in a plain white package that simply bears our name "Tranquility Labs LLC"</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i>  How can I check the status of my order?</h4>
						<div class="accordion-content">
								<p>Feel free to ask us about the status of your order at support@tranquilitylabs.com, or use the tracking number supplied in your e-mailed receipt to keep track of your shipment's location.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i> How do I order Tranquilene?</h4>
						<div class="accordion-content">
								<p>Feel free to ask us about the status of your order at support@tranquilitylabs.com, or use the tracking number supplied in your e-mailed receipt to keep track of your shipment's location.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i> How do I cancel my auto ship?</h4>
						<div class="accordion-content">
								<p>You can cancel at any time by emailing support@tranquilitylabs.com. Your cancellation will be processed within 48 hours.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i>  What forms of payment do you accept?</h4>
						<div class="accordion-content">
								<p>We accept Visa, Master Card, American Express and Discover. We apologize, but we do not accept cash, checks, money orders, Amazon Pay, Venmo or PayPal.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i>  How can I be sure my information is secure?</h4>
						<div class="accordion-content">
								<p>Tranquility Labs LLC only uses encrypted, PCI–compliant methods for storing and transferring customer data. Customer security is a top priority and we are a fully registered, PCI–compliant merchant.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
				<article class="content-entry">
						<h4 class="article-title"><i></i> What is your guarantee?</h4>
						<div class="accordion-content">
								<p>Tranquilene orders come with a 60–day guarantee. If you are unsatisfied for any reason you may return the product within 60 days for a full refund of the purchase price.</p>
						</div>
						<!--/.accordion-content-->
				</article>

		</div>


</section>
<!--/#content-->
        
        <div class="container-fluid bg-shadow pt-5 pb-5 pt-mb-0" id="why-it-works">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5 pt-mb-0">
            	<div class="col-md-6 p-0 pt-5 float-left text-center pt-mb-0 product-size-mb">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/premium-trans.jpg?v=1604396272" alt="supplement" class="img-fluid pt-5">
                  <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3"></div>
                  <div class="join-button-wb col-xl-6 col-lg-6 col-md-6 text-center">
                       <a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm" class="col-md-12">ADD TO CART</a>
                    </div>
               <div class="col-xl-3 col-lg-3 col-md-3"></div>
                    </div>
                </div>
            	<div class="col-md-6 p-0 pr-5 float-left pr-mb-0">
                	<h2>Why it works...</h2>
                    <p>Now you may still be hesitant. But Tranquilene is a unique formula that works. <strong>The key to Tranquilene's effectiveness is its two-part formula that provides both immediate calming and panic relief as well as long-term mood support.</strong> The formula targets the "circuits" in the brain that drive up your stress levels when overactive, and helps restore balance, for a calmer, more confident you.
</p>
<p>The two most important neurotransmitters for keeping a calm, even mood are Serotonin and GABA (or Gamma–Aminobutyric acid). As research shows us, Serotonin is the main chemical in the body that regulates mood, sleep cycle, and muscle tension. GABA is a calming or "peacemaker" chemical in the brain that induces relaxation, reduces stress levels and increases focus.9 An overwhelming number of cases of elevated stress and unwarranted fear stem from low levels of GABA and/or Serotonin in the body.</p>
<p>Tranquilene is the only all-natural supplement that offers complete support for the body's production of Serotonin and GABA. And that's not all. The formula also contains several fast-acting herbs, vitamins and minerals to provide immediate calming while the body's mood systems are restored to balance.</p>

<p><strong>At $34.95 a month, the Tranquilene Program costs less than a single tank of gas.</strong></p>
<p>There are absolutely no more excuses for not getting all the benefits that mental health science has to offer you – so take advantage of this special offer and order now.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
        
        <div class="container-fluid pt-5 pb-4 pt-mb-0" style="padding: 0px 0px 40px 125px;">
	<div class="container">
    	<div class="row">
        	<div class="col-md-10 p-0 pt-5 pt-mb-0 mx-auto">
            	<div class="col-md-6 p-0 pt-5 float-right text-right img-spacing pt-mb-0"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/Imagine-life.jpg?v=1604396565" alt="supplement" class="img-fluid pt-5">
                </div>
            	<div class="col-md-6 p-0 pr-5 float-left pr-mb-0">
                	<h2>Imagine the life awaiting you</h2>
                    <p>Where sudden worry and fear just aren't a part of your life, exuding confidence is the norm and you're feeling calm and focused. You wake up in the morning refreshed and relaxed, instead of haunted by worry, muscle tension, stress and jitters. It's possible. It's doable. It's easy. Join the Tranquilene Program right now... quickly, securely and safely over the Internet. Just click here.</p>
                    <p>We know you may be skeptical. Like thousands of other men and women across the world, your nerves have driven you to the edge. Doctors have told you it's just who you are. Or maybe they've told you personality–altering meds are the answer.</p>
                    <p>Now there is a solution.</p>
                    <p>You simply need to take action and start the Tranquilene Program. <strong>Start your new life today.</strong></p>
                </div>
                
            </div>
        </div>
    </div>
</div>
        
        <div class="container-fluid pb-5 mb-hide">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 pt-5 mx-auto" style="padding:60px">
                <h2 class="text-center pb-3" style="margin-bottom: 60px;">What defines Tranquilene</h2>
                <div class="col-xl-3 col-lg-3 col-md-3 p-0 pr-5 define-info float-left">
                	<div class="col-md-12 pb-3 p-0" style="margin-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/defines-icon1.png?v=1604397138" alt="Defines"></div>
                	<h5>We are based in the USA</h5>
                    <p>Tranquilene is made in the USA in a facility that meets FDA guidelines and was awarded the NSF Good Manufacturing Practices (GMP) seal of approval. We are proud to manufacture Tranquilene in the USA.</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 p-0 pr-5 define-info float-left">
                	<div class="col-md-12 pb-3 p-0" style="margin-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/defines-icon2.png?v=1604397138" alt="Defines"></div>
                	<h5>106,965+ bottles sold</h5>
                    <p>Tranquilene has been used by happy customers for years. We have sold 106,965 bottles, and counting. 93% of our customers are happy with the product.</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 p-0 pr-5 define-info float-left">
                	<div class="col-md-12 pb-3 p-0" style="margin-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/defines-icon3.png?v=1604397138" alt="Defines"></div>
                	<h5>60-Day Money Back Guarantee</h5>
                    <p>Tranquilene orders come with a 60–day guarantee. If you are unsatisfied for any reason you may return the product within 60 days for a full refund of the purchase price.</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 p-0 define-info float-left">
                	<div class="col-md-12 pb-3 p-0" style="margin-bottom: 20px;"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/defines-icon4.png?v=1604397138" alt="Defines"></div>
                	<h5>Free Shipping</h5>
                    <p>Unlike our competitors, we offer to ship Tranquilene to you without shipping fees, every month.</p>
                </div>
            </div>
            <div class="col-md-12 p-0">
            	<div class="join-button-wb" style="width:100% !important">
                        	<a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm">ADD TO CART</a>
                        </div>
            </div>
        </div>
    </div>
</div>
        
        <div class="container-fluid pb-4 pt-5 bg-green" id="contact" style="padding: 0 0 85px 0;">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-4 contact-block">
            	<h6 class="text-center pb-3" style="padding: 0 0 30px 0;">Any question? Contact us!</h6>
                
                <div class="col-md-3 p-0 float-left text-center mb-5">
                	<a href="tel:18884079659">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/phone-icon.png?v=1604397723" alt="Phone Icon" class="mb-3"><br>
                	1-888-407-9659
                    </a>
                </div>
                
                <div class="col-md-6 p-0 float-left text-center mb-5">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/Live-Chat-Icon.png?v=1604397722" style="margin-bottom: 35px;" alt="Live-Chat-Icon" class="mb-3"><br>
                	<a href="javascript:void(0);" onclick="loInitiateChat()" class="live-chat-button">Start Live Chat</a>
                </div>
                
                <div class="col-md-3 p-0 float-left text-center mb-5">
                	<a href="mailto:support@tranquilitylabs.com" target="_blank">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/email_icon_2f120abd-d400-4c1c-a37a-61c4fa325e57.png?v=1604397722" alt="email" class="mb-3"><br>
                	support@tranquilitylabs.com
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>
      
        <div class="container-fluid pb-4 pt-5" style="padding: 100px;">
	<div class="container">
    	<div class="row">
        	<div class="col-md-11 p-0 footer-text mx-auto">
            	<p>TRANQUILENE is not a drug and is not intended to diagnose, treat, cure or prevent any disease or disorder. TRANQUILENE should not be considered equivalent to or a replacement for FDA-approved medication. TRANQUILENE and the TRANQUILENE logo are trademarks of Tranquility Labs LLC.</p>
                <p>Placing an order indicates that you understand and agree to the Terms and Conditions of Sale.</p>
                <p>The statements on the tranquilene.com website have not been evaluated by the Food and Drug Administration. TRANQUILENE is a dietary supplement, not a drug. TRANQUILENE is not intended to diagnose, treat, cure or prevent any disease.</p>
            </div>
        </div>
    </div>
</div>
        
      </div>
    </div>
  </div>

</div>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  .footer-text p {
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 20px;
}
  
 .bg-green {
    background-color: #71a667;
}
  .contact-block {
    color: #fff;
    font-family: 'ApercuPro';
    font-size: 24px;
}
  .contact-block h6 {
    color: #fff !important;
}
  .contact-block a {
    color: #fff;
    display: inline-block;
    word-break: break-all;
}
  .live-chat-button {
    background: #fff;
    font-size: 24px;
    color: #37383c!important;
    font-family: 'ApercuPro';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 270px;
    height: 60px;
    line-height: 40px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    display: inline-block;
    line-height: 57px;
  }
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  @media screen and (max-width: 1384px){
.define-info {
    min-height: 303px;
}
  }
  @media screen and (max-width: 1384px){
p {
    font-size: 18px;
}
  }
p {
    color: #6b7c93;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    font-family: 'ApercuPro';
}
    .mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
  .mySlides{
        width: 50%;
    margin: auto;
  }
  .arrowButtons{
    text-align: center;
    margin: 25px 0px 0 0;
  }
  .arrowButtons a{
    border-bottom: 0 !important;
  }
   .arrowButtons a:hover{
    color: #1fc8dd;
    background: transparent !important;
    text-decoration: none !important;
  }
  .rte a:not(.btn):after, .rte-setting a:not(.btn):after{
    border-bottom: 0 !important;
  }
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 0 !important;
}
  .bg-shadow {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
  .ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
  @media screen and (max-width: 1384px){
h1, h2, h4, .contact-block h6 {
    font-size: 39px;
    line-height: 50px;
}
  }
h1, h2, h4, .contact-block h6 {
    font-size: 50px;
    line-height: 60px;
    color: black;
    margin-bottom: 30px;
    font-family: 'Apercu-Bold';
}
   .page-width, .page-full {
    padding: 0 0px !important;
}
  @media screen and (max-width: 1384px){
p {
    font-size: 18px;
}
  }
p {
    color: black;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    font-family: 'ApercuPro';
}
  .section-header{
    display: none;
}
  .page-content, .shopify-policy__container {
    padding-top: 25px !important;
  }
  .medium-up--push-one-eighth {
    left: 0 !important;
    width: 100% !important;
}
  .toolbar+.header-sticky-wrapper .site-header {
    padding: 0 25px 0 25px;
}
  .bg-grey {
    background-color: #f4f6f8;
}
 .pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.p-0 {
    padding: 0!important;
}
  .order-button, .join-button-wb a {
    background: #ff920c;
    background: -moz-linear-gradient(top, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    background: -webkit-linear-gradient(top, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    background: linear-gradient(to bottom, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920c', endColorstr='#ff7f00', GradientType=0);
    font-size: 30px;
    color: #fff;
    font-family: 'Apercu-Medium';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 310px;
    /* height: 50px; */
    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}
   .join-button-wb {
    width: 50%;
    text-align: center;
    padding: 15px 0;
}
.float-left {
    float: left!important;
}
  @media screen and (max-width: 1384px){
.join-button-wb a {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
}
  }
    .heading-block {
    display: table;
}
 .heading-block h2 {
    display: table-cell;
    height: 380px;
    vertical-align: middle;
}
@media screen and (max-width: 1384px){
h1, h2, h4, .contact-block h6 {
    font-size: 39px;
    line-height: 50px;
}
}
h1, h2, h4, .contact-block h6 {
    font-size: 50px;
    line-height: 60px;
    color: #37383c;
    margin-bottom: 30px;
    font-family: 'Apercu-Bold';
} 
 @media screen and (max-width: 1384px){
.aricle-block {
    min-height: 480px;
}
 }
.aricle-block {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    padding: 66px 35px 50px;
    min-height: 380px;
} 
  .aricle-block small {
    background: url(../images/advancement-icon.png) left top no-repeat;
    color: #37383c;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    text-transform: uppercase;
    padding: 0 0 0 24px;
    margin-bottom: 18px;
    display: inline-block;
}
  @media screen and (max-width: 1384px){
h3 {
    font-size: 27px;
}
  }
h3 {
    font-size: 30px;
    line-height: 42px;
    color: #37383c;
    margin-bottom: 2px;
    font-family: 'Apercu-Bold';
}
.aricle-block p {
    font-size: 18px;
    line-height: 24px;
}
   .widthCustom{
   width: 35%;
 }
  .float-right{
    float: right !important;
  }
  .float-left{
    float: left !important;
  }
  .tranquilene-program > .container > .row {
    display: block;
}
 .white-block {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border: 1px #e7e7e7 solid;
}
  .bg-grey {
    background-color: #f4f6f8;
}
  .carousel {
    position: relative;
}
 .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
  .carousel-indicators .active {
    opacity: 1;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}
  .arrow-block {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}
 .arrow-auto {
    width: 90px;
    margin: auto;
    position: relative;
}
  .carousel-control-next, .carousel-control-prev {
    width: 40px;
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}
.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}
 .carousel-control-prev-icon:after {
    content: '<';
    font-size: 24px;
    color: #000000;
    font-family: 'Apercu-Bold';
}
  .carousel-control-next-icon:after {
    content: '>';
    font-size: 24px;
    color: #000000;
    font-family: 'Apercu-Bold';
}
  .white-block small {
    font-size: 18px;
}
.small-text {
    font-size: 18px;
    line-height: 42px;
    color: #000000;
    font-family: 'ApercuPro';
    text-align: center;
    display: inline-block;
    width: 100%;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
 @media screen and (max-width: 1384px){
.price-info-list li {
    font-size: 17px;
}
 }
.price-info-list li {
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    font-family: 'ApercuPro';
    background: url(https://tranquilene.com/tranquilene/images/check-icon.png) left 10px no-repeat;
    padding: 0 0 0 45px;
  	list-style: none ;
} 
    .accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-container {
		position: relative;
		width: 100%;
		border-top: none;
		outline: 0;
		cursor: pointer
}

.accordion-container .article-title {
		display: block;
		position: relative;
		margin: 0;
		padding: 0.625em 0.625em 0.625em 2em;
		
		font-size: 1.25em;
		font-weight: normal;
		color: #0079c1;
		cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
		background-color: #50cbdd;
		color: white;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
		color: white;
}

.accordion-container .content-entry i {
		position: absolute;
		left: 12px;
		font-style: normal;
		font-size: 1.625em;
		sans-serif;
		color: #0079c1;
}

.accordion-container .content-entry i:before {
		content: "+ ";
}

.accordion-container .content-entry.open i:before {
		content: "- ";
}

.accordion-content {
		display: none;
		padding: 20px;
    	font-size: 20px;
}
/* This stuff is just for the Codepen demo */

#content {
		width: 100%;
}
.container-fluid {
    padding-right: 0 !important;
}
.accordion-container,
#description {
		width: 80%;
		margin: 1.875em auto;
        padding: 15px 0 10px 0;
}

#description p {
		line-height: 1.5;
}

#description h2 {
		text-align: center;
}

@media all and (min-width: 860px) {
		#content {
				width: 70%;
				margin: 0 auto;
		}
}
   .accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.accordion>.card {
    overflow: hidden;
}
.card {
    border: #e9e9e9 1px solid!important;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
  .header-acc h2 button {
    font-size: 22px;
    color: #000000;
    font-family: 'Apercu-Bold';
    border-radius: 0;
    padding: 0 25px 10px;
}
.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  .header-acc h2 button i {
    font-size: 18px;
    color: #b2b2b2;
    margin-right: 20px;
}
</style>
<script>
    $(function() {
		var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;

				var links = this.el.find('.article-title');
				links.on('click', {
						el: this.el,
						multiple: this.multiple
				}, this.dropdown)
		}

		Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
				$this = $(this),
						$next = $this.next();

				$next.slideToggle();
				$this.parent().toggleClass('open');

				if (!e.data.multiple) {
						$el.find('.accordion-content').not($next).slideUp().parent().removeClass('open');
				};
		}
		var accordion = new Accordion($('.accordion-container'), false);
});
  
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>