<div class="page-width page-content" style="width: 100%;max-width: 100%;"> 

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        
        <div class="row">
         <div class="col-sm-6" >
          <div class="slideshow-container">
              <div class="mySlides ">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/product-big.jpg?v=1603975783" style="width:100%">
                
              </div>

              <div class="mySlides ">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/product-big3.jpg?v=1603975783" style="width:100%">
               
              </div>

              <div class="mySlides ">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/product-big2.jpg?v=1603975783" style="width:100%">
               
              </div>
            <div class="arrowButtons">
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
              </div>
          </div>
   		 <div class="col-sm-6 product-banner" >
           <h1 class="mt-3 m-0">
Tranquilene es el suplemento especializado más avanzado, efectivo y natural para hombres y mujeres que sufren de estrés, nervios y exceso de preocupación.</h1>
           <div class="col-xl-12 col-lg-12 col-md-12 pt-4 pb-3 p-0" style="margin-bottom: 35px;">
           <ul class="price-info-list">
                <li>Aliviar El Estrés y La Ansiedad Rápidamente</li>
                <li>Ayuda a La Producción de Serotonina.</li>
                <li>Fomentar el Equilibrio Emocional.</li>
				<li>Mejorar El Estado de Ánimo y Relajación.</li>
          </ul>
         </div>
           <br>
           <br>
           <div class="join-button-wb float-left col-md-5">
              <a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm" class="col-md-12">AÑADIR AL CARRITO</a>
           </div>
           <div class="float-left col-xl-3 col-lg-3 col-md-12 pl-5 pt-3 pr-mb-0 widthCustom">
             <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/free-shipping.png?v=1603975319" alt="free-shipping" class="free-sticker-size">
           </div>
          </div>
    	
        </div>
       
        
      </div>

          <div class="container-fluid pt-5 pb-5" id="components">
			<div class="container">
    
              <div class="row">
        	<div class="col-md-12 p-0 pt-4 pt-mb-0">
            	<div class="col-md-6 p-0 float-left">
                <div class="heading-block">
                	<h2>Aquí están Tranquilene’s componentes principales </h2>
                        </div>
                </div>
                <div class="col-md-6 pr-0 float-right mb-4 pr-mb-0" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>ADELANTO 1:</small>
                        <h3>L–Teanina</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-1.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        La L-teanina, un aminoácido que se encuentra en el té verde, produce una sensación de tranquilidad pronunciada en tan solo 15 minutos. La L-teanina es una pieza fundamental del neurotransmisor GABA (mensajero natural en el cerebro) que fomenta la relajación y ayuda a mantener los nervios calmados. La L-teanina también estimula la liberación de la dopamina, un neurotransmisor responsable de la confianza y la sensación de bienestar.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>ADELANTO 2:</small>
                        <h3>GABA</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-2.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        El ácido gamma-aminobutírico (GABA) es un aminoácido y el principal neurotransmisor inhibidor (calmante) del cerebro. El GABA es un agente calmante natural que previene la tensión muscular excesiva y ayuda a nuestros cuerpos a fabricar endorfinas, unos elementos químicos que nos hacen sentir felices. Las deficiencias de GABA en el cerebro se han relacionado con el insomnio, la sensación de estrés, la tensión y la tristeza.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>ADELANTO 3:</small>
                        <h3>Raíz de Ashwagandha</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-3.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        La ashwagandha se ha utilizado en la tradición india de la Ayurveda en tónicos de salud y sueros calmantes. Además de su raíz sin procesar, Tranquilene incluye un potente extracto de Ashwagandha llamado KSM-66®, que reduce los niveles de estrés percibidos de los pacientes en un 44%.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" >
                	<div class="aricle-block">
                    	<small>ADELANTO 4:</small>
                        <h3>Brahmi (Bacopa)</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-4.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        A menudo utilizado por los curanderos ayurvédicos acompañando la ashwagandha, el brahmi (también conocido como Bacopa Monnieri) es un sedante suave que ayuda al cuerpo durante los períodos de estrés emocional. Tradicionalmente, los curanderos recomendaban el brahmi para estimular las funciones cognitivas incluyendo la concentración, el enfoque, la resistencia mental y la memoria.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>ADELANTO 5:</small>
                        <h3>Triptófano</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-5.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        El triptófano es el suplemento más vendido para los problemas de estrés. Es un aminoácido esencial que el cuerpo convierte en 5-HTP (5-hidroxitriptófano) y luego, en serotonina. La serotonina está involucrada en el estado de ánimo, el apetito, el sueño y el control de los impulsos. Una vez elaborado el neurotransmisor de la serotonina, el cerebro puede convertirlo en melatonina, la hormona que induce el sueño por la noche.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4" style="margin-bottom: 30px;">
                	<div class="aricle-block">
                    	<small>ADELANTO 6:</small>
                        <h3>Flor de la Pasión</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-6.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Durante siglos, los profesionales de la medicina herbaria han utilizado la passiflora como un remedio natural para el nerviosismo, la preocupación constante y el insomnio ocasional. Estudios modernos demuestran que el extracto de passiflora disminuye significativamente los nervios y el pánico, y fomenta un estado de ánimo más tranquilo.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>ADELANTO 7:</small>
                        <h3>Magnesio</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-7.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        La deficiencia de magnesio es una de las principales causas del estrés y el nerviosismo elevados y persistentes, y la dieta occidental tiende a ser deficiente en este elemento crítico. Actualmente, las investigaciones científicas han demostrado que a medida que caen los niveles de magnesio, los niveles de estrés aumentan.</p>
                    </div>
                </div>	
            </div>
            
            <div class="col-md-12 p-0">
            
            	<div class="col-md-6 pl-0 float-left pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>ADELANTO 8:</small>
                        <h3>Niacinamida</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-8.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        La niacinamida, un tipo de vitamina B3, trabaja con el cuerpo para convertir el triptófano en 5-HTP, que luego se puede convertir en serotonina. Sin B3, la conversión del triptófano-5HTP no puede tener lugar. Los síntomas comunes de una deficiencia de B3 incluyen irritabilidad, falta de concentración, nerviosismo, fatiga, inquietud, apatía y un bajo estado de ánimo. Optamos por la niacinamida antes que la niacina para prevenir el efecto secundario del enrojecimiento que a menudo ocurre al tomar niacina sin procesar.</p>
                    </div>
                </div>	
            	
                <div class="col-md-6 pr-0 float-right pr-mb-0 mb-4">
                	<div class="aricle-block">
                    	<small>ADELANTO 9:</small>
                        <h3>Complejo B</h3>
                        <p>
                        <img src="https://tranquilene.com/tranquilene/images/advancement-9.jpg" alt="advancement" class="float-right border-radius ml-4 advan-mb">
                        Obtener cantidades suficientes de cada una de las muchas formas de vitamina B es esencial para mantener una función cerebral adecuada. La vitamina B está involucrada en el metabolismo, así como en la producción de serotonina. Los niveles bajos de vitamina B se han relacionado con un aumento de los niveles de estrés, nerviosismo, fatiga, irritabilidad e inestabilidad emocional. Tranquilene contiene vitaminas B1, B3, B5, B6 y B12.</p>
                    </div>
                </div>	
            </div>

            <div class="join-button-wb float-left mx-auto mt-4 pr-mb-0" style="width: 100% !important;margin: 5% 0 0 0px;">
                        	<a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm">AÑADIR AL CARRITO</a>
            </div>
				
            
            
            
            
        </div>
              
   <div class="container-fluid bg-shadow pt-5 pb-5">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5">
            	<div class="col-md-6 float-left pr-mb-0"><img src="https://tranquilene.com/tranquilene/images/result.jpg" alt="supplement" class="img-fluid">
                </div>
            	<div class="col-md-6 pl-5 pr-3 float-left pr-mb-0">
                	<h2>Cuando combinamos todo esto en un suplemento, nos sorprendieron los resultados</h2>
                    <p>No solo logramos calmar los nervios y el pánico RÁPIDAMENTE, sino que incluso los estresantes episodios de preocupación en exceso se volvieron menos frecuentes con el tiempo. Pero el secreto detrás de nuestro éxito fue una adecuada mezcla de nutrientes, formulada gracias a una gran cantidad de investigación y desarrollo, que intensifica el poder de estos ingredientes, incluyendo: la niacinamida, el GABA, el complejo B, el extracto de té verde y más.</p>
                    <p>Hoy en día, ofrecemos lo que creemos que es el suplemento de acción rápida y más eficaz para calmar el estrés disponible. Los resultados se tienen que ver para creer.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
              
              <div class="container-fluid bg-shadow pt-5 pb-5 pt-mb-0" id="why-it-works">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5 pt-mb-0">
            	<div class="col-md-6 p-0 pt-5 float-left text-center pt-mb-0 product-size-mb">
                <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/premium-trans.jpg?v=1604396272" alt="supplement" class="img-fluid pt-5">
                <div class="join-button-wb col-xl-12 col-lg-12 col-md-12 text-center">
                       <a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm" class="col-md-12">AÑADIR AL CARRITO</a>
                    </div>
                </div>
            	<div class="col-md-6 p-0 pr-5 float-left pr-mb-0">
                	<h2>Por qué funciona...</h2>
                    <p>Puede que todavía tenga dudas. Pero Tranquilene es una fórmula única que funciona. La clave de la efectividad de Tranquilene es su fórmula de dos partes que proporciona alivio inmediato calmante y para el pánico, así como un apoyo a largo plazo para el estado de ánimo. La fórmula se enfoca en los "circuitos" del cerebro que elevan los niveles de estrés cuando están hiperactivos, y ayuda a restablecer el equilibrio para que sienta más tranquilidad y confianza.
</p>
<p>Los dos neurotransmisores más importantes para mantener un estado de ánimo tranquilo y uniforme son la serotonina y el GABA (o ácido gamma-aminobutírico). Como demuestran las investigaciones, la serotonina es el principal producto químico en el cuerpo que regula el estado de ánimo, el ciclo del sueño y la tensión muscular. El GABA es un químico calmante o "pacificador" en el cerebro que induce la relajación, reduce los niveles de estrés y mejora el enfoque. Una cantidad abrumadora de casos de estrés elevado y miedo injustificado tienen que ver con unos niveles bajos de GABA y/o serotonina en el cuerpo.</p>
<p>Tranquilene es el único suplemento completamente natural que ofrece un apoyo completo para la producción de serotonina y GABA en el cuerpo. Y eso no es todo. La fórmula también contiene varias hierbas, vitaminas y minerales de acción rápida para proporcionar una acción calmante inmediata mientras se restablece el equilibrio en el sistema del estado de ánimo en el cuerpo.</p>

<p><strong>A 34.95 dólares al mes, el Programa Tranquilene cuesta menos de un tanque de gasolina.</strong></p>
<p>Ya no hay excusas para no disfrutar de todos los beneficios que la ciencia de la salud mental tiene para ofrecerle, así que aproveche esta oferta especial y haga un pedido ahora.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
              
              
              <div class="container-fluid pb-5 pb-mb-0 mb-defines-bl">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-5 mx-auto" style="padding: 35px;">
                <h2 class="text-center pb-3 pb-mb-0 " style="margin: 0 0 55px 0;">Lo Que Define Tranquilene</h2>
                <div class="col-xl-3 col-lg-6 col-md-6 p-0 pr-5 define-info float-left" style="width: 25%;">
                    <div class="col-md-12 pb-3 p-0"><img src="https://tranquilene.com/tranquilene/images/defines-icon1.png" alt="Defines"></div>
                    <h5>Nuestra Base es en Los Estados Unidos</h5>
                    <p>Tranquilene es creado en los Estados Unidos en una instalación que cumple con las normativas de la FDA y recibió el sello de aprobación de la NSF Buenas Prácticas de Manufactura (GMP). Nos enorgullece poder elaborar Tranquilene en los Estados Unidos.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 p-0 pr-5 define-info float-left" style="width: 25%;">
                    <div class="col-md-12 pb-3 p-0"><img src="https://tranquilene.com/tranquilene/images/defines-icon2.png" alt="Defines"></div>
                    <h5>Mas de 106,965 Botellas Vendidas</h5>
                    <p>Tranquilene ha sido usado por nuestros clientes por años. Hemos vendido 106,965 botellas y contando. El 93% de nuestros clientes están felices con el producto.</p>
                </div> 
                <div class="col-xl-3 col-lg-6 col-md-6 p-0 pr-5 define-info float-left" style="width: 25%;">
                    <div class="col-md-12 pb-3 p-0"><img src="https://tranquilene.com/tranquilene/images/defines-icon3.png" alt="Defines"></div>
                    <h5>Garantia de Reembolso de 60 Dias</h5>
                    <p>Las órdenes de Tranquilene viene con una garantía de 60 dias. Si no por algún motivo no está satisfecho con el producto, puede retornarlo en un plazo de 60 días para un reembolso completo del precio de la compra.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 p-0 define-info float-left" style="width: 25%;">
                    <div class="col-md-12 pb-3 p-0"><img src="https://tranquilene.com/tranquilene/images/defines-icon4.png" alt="Defines"></div>
                    <h5>Envío Gratuito</h5>
                    <p>A diferencia de nuestros competidores, nosotros le ofrecemos enviarle Tranquilene sin gastos de envío cada mes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
                
              
              <div class="container-fluid pt-5 pb-5 mb-white-bl pb-mb-0 pt-mb-0">
	<div class="container">
    	<div class="row pb-3">
        	<div class="mx-auto col-xl-11 col-lg-11 col-md-12 pt-4">
            	<div class="white-block pb-3 col-md-12 float-left p-0">
                
                	<div class="col-xl-6 col-lg-6 col-md-12 p-0 pt-5 float-left">
                    	<center><img src="https://tranquilene.com/tranquilene/images/product-big.jpg" alt="tranquilene-herbal" class="img-fluid"></center>
                    </div>
                
                
                	<div class="col-xl-6 col-lg-6 col-md-12 p-0 pt-5 float-left pt-mb-0">
                    	
                          <h2 class="mt-3 m-0 mb-text-center">Programa Tranquilene</h2>
                        <small class="small-text text-left mb-text-center">entrega mensual de nuestro potente suplemento</small>
                        <div class="col-xl-12 col-lg-12 col-md-12 pt-4 pb-3 p-0">
                        	<ul class="price-info-list list-spanish">
                            	<li><strong>Precio de Venta:</strong> <strike>$42.50</strike></li>
                                <li><strong>Precio de Oferta:</strong> <span>$34.95 por mes</span></li>
                                <li><strong>Envío:</strong> Se envía en 24 horas. Envío gratuito!</li>
                                <li><strong>Contiene:</strong> 60 cápsulas - Suministro de 30 días</li>
                                <li><strong>Entregado:</strong> Cada 30 días</li>
                                <li><strong>Garantía:</strong> <u>Garantía de reembolso de 60 días.</u></li>
                            </ul>
                        </div>
                        <div class="join-button-wb float-left col-xl-5 col-lg-5 col-md-12">
                        	<a href="https://tranquility-labs.myshopify.com/products/tranquilene-total-calm" class="col-md-12">AÑADIR AL CARRITO</a>
                        </div>
                        <div class="float-left col-xl-3 col-lg-3 col-md-12 pl-5 pt-3 pr-mb-0 text-center"><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/free-shipping.png?v=1603975319" alt="free-shipping" class="free-sticker-size"></div>
                    </div>
                </div>
            </div>
        </div>
     </div>   
</div>
              
     <section id="content">
			<!--/#accordion-->

		<div id="description">
				<h2>Preguntas Frecuentes Sobre Tranquilene</h2>
				
		</div>
		<div id="accordion" class="accordion-container">
				<article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cómo puedo saber si Tranquilene es adecuado para mí?</h4>
						<div class="accordion-content">
								<p>Tranquilene es para hombres o mujeres que estén experimentando:
                                    Nerviosismo
                                    Preocupacion Frecuente
                                    Tensión Muscular
                                    Estrés Elevado
                                    Pánico
                                    Problemas para Dormir
                          </p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Dónde se fabrica Tranquilene?</h4>
						<div class="accordion-content">
								<p>Tranquilene se fabrica en EE.UU. En una instalación que cumple con las directrices de la FDA y recibió el sello de aprobación de Buenas Prácticas de Manufactura (GMP) de la NSF. Lamentablemente, muchos de los suplementos disponibles en línea se fabrican en China. Actualmente, China tiene una reputación negativa por la contaminación de productos después de que se haya encontrado plomo en numerosos productos. Nosotros estamos orgullosos de fabricar Tranquilene en Estados Unidos.</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cuánto tiempo tardará en llegar el pedido?</h4>
						<div class="accordion-content">
								<p>Todos los pedidos se envían vía USPS First Class con seguimiento. Los pedidos se envían en un día hábil y, para pedidos dentro de EE.UU., deberían llegar en el transcurso de una semana.</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cuánto tiempo tarda Tranquilene en funcionar?</h4>
						<div class="accordion-content">
								<p>Nuestra fórmula funciona en dos partes: 1) reduciendo rápidamente los niveles de estrés actuales, y 2) restableciendo el equilibrio en los sistemas naturales de lucha contra el estrés de su cuerpo. Los efectos tranquilizantes inmediatos pueden notarse en tan solo 20 a 30 minutos. El equilibrio a largo plazo requiere consistencia y es por eso que recomendamos tomar Tranquilene durante, al menos, tres o cuatro meses.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i>  ¿El envío es discreto?</h4>
						<div class="accordion-content">
								<p>Sí, viene en un paquete blanco liso que sólo lleva nuestro nombre "Tranquility Labs LLC"</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i>   ¿Cómo puedo verificar el estado de mi pedido?</h4>
						<div class="accordion-content">
								<p>No dude en preguntarnos sobre el estado de su pedido en support@tranquilitylabs.com, o use el número de seguimiento que se proporcionará en su recibo por correo electrónico para realizar el seguimiento de la ubicación de su envío.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cómo hago un pedido de Tranquilene?</h4>
						<div class="accordion-content">
								<p>Puede hacer un pedido en línea en Tranquilene.com. Todo lo que necesita es una dirección y su tarjeta de crédito.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cómo cancelo mi envío automático?</h4>
						<div class="accordion-content">
								<p>Se puede cancelar en cualquier momento enviando un correo electrónico a support@tranquilitylabs.com. Su cancelación será procesada en un transcurso de 48 horas.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
           <article class="content-entry">
						<h4 class="article-title"><i></i>   ¿Qué formas de pago aceptan?</h4>
						<div class="accordion-content">
								<p>Aceptamos Visa, Master Card, American Express y Discover. Lo sentimos, pero no aceptamos efectivo, cheques, giros postales ni PayPal.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
          <article class="content-entry">
						<h4 class="article-title"><i></i>   ¿Cómo puedo estar seguro de que mi información está segura?</h4>
						<div class="accordion-content">
								<p>Tranquility Labs LLC solo utiliza métodos cifrados compatibles con la PCI para almacenar y transferir los datos de los clientes. La seguridad del cliente es una prioridad y somos un vendedor completamente registrado que cumple con la PCI.</p>
						</div>
						<!--/.accordion-content-->
				</article>
          
				<article class="content-entry">
						<h4 class="article-title"><i></i>  ¿Cuál es la garantía?</h4>
						<div class="accordion-content">
								<p>Las órdenes de Tranquilene vienen con una garantía de 60 días. Si no queda satisfecho por alguna razón, puede devolver el producto dentro de 60 días para obtener un reembolso completo del precio de la compra.</p>
						</div>
						<!--/.accordion-content-->
				</article>

		</div>


</section>
              
              
  
        <div class="container-fluid pb-4 pt-5 bg-green" id="contact" style="padding: 0 0 85px 0;">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 p-0 pt-4 contact-block">
            	<h6 class="text-center pb-3" style="padding: 0 0 30px 0;font-size: 30px;">Preguntas? Contacta con Nosotros!</h6>
                
                <div class="col-md-3 p-0 float-left text-center mb-5">
                	<a href="tel:18884079659">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/phone-icon.png?v=1604397723" alt="Phone Icon" class="mb-3"><br>
                	1-888-407-9659
                    </a>
                </div>
                
                <div class="col-md-6 p-0 float-left text-center mb-5">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/Live-Chat-Icon.png?v=1604397722" style="margin-bottom: 35px;" alt="Live-Chat-Icon" class="mb-3"><br>
                	<a href="javascript:void(0);" onclick="loInitiateChat()" class="live-chat-button">Chat en Vivo</a>
                </div>
                
                <div class="col-md-3 p-0 float-left text-center mb-5">
                	<a href="mailto:support@tranquilitylabs.com" target="_blank">
                	<img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/email_icon_2f120abd-d400-4c1c-a37a-61c4fa325e57.png?v=1604397722" alt="email" class="mb-3"><br>
                	support@tranquilitylabs.com
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>
                  <div class="container-fluid pb-4 pt-5" style="padding: 100px;">
	<div class="container">
    	<div class="row">
        	<div class="col-md-11 p-0 footer-text mx-auto">
            	<p>TRANQUILENE no es un medicamento y no pretende diagnosticar, tratar, curar ni prevenir el trastorno de ansiedad generalizada, trastorno de pánico, trastorno de ansiedad social ni ninguna otra enfermedad. TRANQUILENE no debe ser considerado equivalente o un reemplazo para medicamentos aprobados por la FDA. TRANQUILENE y el logotipo de TRANQUILENE son marcas registradas de Tranquility Labs LLC.</p>
                <p>Hacer un pedido indica que usted entiende y acepta los Términos y Condiciones de Venta.</p>
                <p>Las declaraciones en el sitio web tranquilene.com no han sido evaluadas por la Administración de Alimentos y Medicamentos. TRANQUILENE es un suplemento alimenticio, no un medicamento. TRANQUILENE No pretende diagnosticar, tratar, curar ni prevenir cualquier enfermedad.</p>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
      
    </div>
  </div>

</div>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.product-banner h1 {
    font-size: 42px;
    line-height: 1.5;
    text-transform: capitalize;
}
  .section-header__title {
    display: none;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
  
 .medium-up--push-one-eighth {
    left: 0% !important;
    width: 100% !important;
} 
  .page-width, .page-full {
    padding: 0 0px !important;
}
  .grid__item {
    float: left;
    padding-left: 0;
}
  ul, ol {
    margin: 0 !important;
    padding: 0!important;
    list-style: none;
}
  @media screen and (max-width: 1384px){
.price-info-list li {
    font-size: 17px;
}
  }
.product-banner li {
    font-family: 'Apercu-Bold';
    font-size: 20px;
}
  .price-info-list li {
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    font-family: 'ApercuPro';
    background: url(https://tranquilene.com/tranquilene/images/check-icon.png) left 10px no-repeat;
    padding: 0 0 0 45px;
}
  .join-button-wb {
    width: 50%;
    text-align: center;
    padding: 15px 0;
}
.float-left {
    float: left!important;
}
  @media screen and (max-width: 1384px){
.join-button-wb a {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
}
  }
.join-button-wb a {
    display: inline-block;
    font-size: 26px;
    width: 334px;
    height: 70px;
    line-height: 66px;
}
  .toolbar+.header-sticky-wrapper .site-header {
    padding: 0 25px 0 25px;
}
.order-button, .join-button-wb a {
    background: #ff920c;
    background: -moz-linear-gradient(top, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    background: -webkit-linear-gradient(top, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    background: linear-gradient(to bottom, #ff920c 0%, #ff8400 50%, #ff7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920c', endColorstr='#ff7f00', GradientType=0);
    font-size: 25x;
    color: #fff;
    font-family: 'Apercu-Medium';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 310px;
    /* height: 50px; */
    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}
  .pl-5, .px-5 {
    padding-left: 3rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
 .widthCustom{
   width: 35%;
 }
  
  .mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
  .mySlides{
        width: 50%;
    margin: auto;
  }
  .arrowButtons{
    text-align: center;
    margin: 25px 0px 0 0;
  }
  .arrowButtons a{
    border-bottom: 0 !important;
  }
   .arrowButtons a:hover{
    color: #1fc8dd;
    background: transparent !important;
    text-decoration: none !important;
  }
  .rte a:not(.btn):after, .rte-setting a:not(.btn):after{
    border-bottom: 0 !important;
  }
  .bg-grey {
    background-color: #f4f6f8;
}
  .container {
    max-width: 1410px;
}
  .heading-block {
    display: table;
}
 .heading-block h2 {
    display: table-cell;
    height: 380px;
    vertical-align: middle;
}
@media screen and (max-width: 1384px){
h1, h2, h4, .contact-block h6 {
    font-size: 39px;
    line-height: 50px;
}
}
h1, h2, h4, .contact-block h6 {
    font-size: 50px;
    line-height: 60px;
    color: #37383c;
    margin-bottom: 30px;
    font-family: 'Apercu-Bold';
} 
 @media screen and (max-width: 1384px){
.aricle-block {
    min-height: 480px;
}
 }
.aricle-block {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    padding: 66px 35px 50px;
    min-height: 380px;
} 
  .aricle-block small {
    background: url(../images/advancement-icon.png) left top no-repeat;
    color: #37383c;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    text-transform: uppercase;
    padding: 0 0 0 24px;
    margin-bottom: 18px;
    display: inline-block;
}
  @media screen and (max-width: 1384px){
h3 {
    font-size: 27px;
}
  }
h3 {
    font-size: 30px;
    line-height: 42px;
    color: #37383c;
    margin-bottom: 2px;
    font-family: 'Apercu-Bold';
}
.aricle-block p {
    font-size: 18px;
    line-height: 24px;
}
@media screen and (max-width: 1384px){
.advan-mb {
    margin-top: -64px;
}
}
.advan-mb {
    margin-top: -90px;
}  
  .advancementCont{
    width: 1415px !important;
  }
  .float-right{
    float: right !important;
  }
  .bg-shadow {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}
 .accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.accordion>.card {
    overflow: hidden;
}
.card {
    border: #e9e9e9 1px solid!important;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
  .header-acc h2 button {
    font-size: 22px;
    color: #000000;
    font-family: 'Apercu-Bold';
    border-radius: 0;
    padding: 0 25px 10px;
}
.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  .header-acc h2 button i {
    font-size: 18px;
    color: #b2b2b2;
    margin-right: 20px;
}
  .accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-container {
		position: relative;
		width: 100%;
		border-top: none;
		outline: 0;
		cursor: pointer
}

.accordion-container .article-title {
		display: block;
		position: relative;
		margin: 0;
		padding: 0.625em 0.625em 0.625em 2em;
		
		font-size: 1.25em;
		font-weight: normal;
		color: #0079c1;
		cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
		background-color: #50cbdd;
		color: white;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
		color: white;
}

.accordion-container .content-entry i {
		position: absolute;
		left: 12px;
		font-style: normal;
		font-size: 1.625em;
		sans-serif;
		color: #0079c1;
}

.accordion-container .content-entry i:before {
		content: "+ ";
}

.accordion-container .content-entry.open i:before {
		content: "- ";
}

.accordion-content {
		display: none;
		padding: 20px;
    	font-size: 20px;
}
/* This stuff is just for the Codepen demo */

#content {
		width: 100%;
}
.container-fluid {
    padding-right: 0 !important;
}
.accordion-container,
#description {
		width: 80%;
		margin: 1.875em auto;
        padding: 15px 0 10px 0;
}

#description p {
		line-height: 1.5;
}

#description h2 {
		text-align: center;
}

@media all and (min-width: 860px) {
		#content {
				width: 70%;
				margin: 0 auto;
		}
}
  .bg-green {
    background-color: #71a667;
}
  .contact-block {
    color: #fff;
    font-family: 'ApercuPro';
    font-size: 24px;
}
  .contact-block h6 {
    color: #fff;
}
  .contact-block a {
    color: #fff;
    display: inline-block;
    word-break: break-all;
}
  .live-chat-button {
    background: #fff;
    font-size: 24px;
    color: #37383c!important;
    font-family: 'ApercuPro';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 270px;
    height: 60px;
    line-height: 40px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
    display: inline-block;
    line-height: 57px;
  }
  
</style>

<script>
  $(function() {
		var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;

				var links = this.el.find('.article-title');
				links.on('click', {
						el: this.el,
						multiple: this.multiple
				}, this.dropdown)
		}

		Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
				$this = $(this),
						$next = $this.next();

				$next.slideToggle();
				$this.parent().toggleClass('open');

				if (!e.data.multiple) {
						$el.find('.accordion-content').not($next).slideUp().parent().removeClass('open');
				};
		}
		var accordion = new Accordion($('.accordion-container'), false);
});
  
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>