<div class="main-page">
        <div class="header-bg">
            <div class="header-center">
                <div class="header-left">
                    <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/lp-logo.jpg?v=1604653078" alt="Tranquility Labs">
                </div>
            </div>
        </div>
        <div class="blue-box">
            <div class="blue-box-center">
                <div class="left-content">
                    <div class="book">
                        <img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/lp-ebook-image.png?v=1604653079" alt="Our #1 Most Popular eBook, Free">
                    </div>
                    <div onclick="document.getElementById('id01').style.display='block'" class="download show-optin-form">
                        <a href="#"><span><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/lp-play-button.png?v=1604653139" alt="Download Now"></span><p><em>Download Now</em></p></a>
                    </div>
                    <p>Our #1 Most Popular eBook, FREE.</p>

                </div>
                <div class="right-content">
                    <div class="right-content-title">
                        <h1>Control your anxiety without drugs - free ebook</h1></div>
                    <div class="right-content-text">
                        <h1>We'll Share all our Anxiety-Fighting Research to Save You the Time</h1>
                        <ul>
                            <li>Learn some of the top causes of high stress and anxiety in your body</li>
                            <li>Discover the herbal anti-anxiety secrets drug companies don't want you to know</li>
                            <li>See how you can live a calmer, happier life without doctors, drugs and side effects</li>
                        </ul>
                    </div>

                    <div class="bottom-box">
                        <div onclick="document.getElementById('id01').style.display='block'" class="button show-optin-form">
                            <a href="#">Yes! Send Me the Free eBook »</a>
                        </div>
                        <div class="secure"><span><img src="https://cdn.shopify.com/s/files/1/0431/6089/5646/files/lp-lock.png?v=1604653078" alt="100% Secure"></span>
                            <p>100% Secure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="free-text">
                <h1>The FREE eBook will be sent to the <br>email address you submit above!</h1></div>
        </div>

        <div class="footer">
            <p>Copyright 2020. <u>Tranquility Labs LLC</u></p>
        </div>
    </div>

<div id="id01" class="modal">
 <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="post" class="form-horizontal no-image" id="leadpages-form" style="background-color: rgb(255, 255, 255); border-style: solid; border-width: 1pt; border-color: rgb(255, 255, 255)" accept-charset="utf-8">
   <input type="hidden" name="g" value="RKqQJe">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>

        <div class="leadbox-content-wrapper">
            <div id="leadpages-form-title" style="font-family: 'Source Sans Pro', sans-serif; font-size: 18pt; letter-spacing: -0.01em">
                <div style="text-align: center"><strong>Enter your name and email address below to get instant access now!</strong></div>
            </div>
            <div id="leadpages-fieldset-wrapper">
                <fieldset id="leadpages-fieldset">
                    <div class="control-group" id="leadpages-container-firstname">
                        <div class="controls">
                            <input style="width:100%" name="firstname" value="" id="firstname" placeholder="First Name" data-source="leadpages-first_name" data-role="first_name" required="required" type="text">
                        </div>
                        <span class="error-container" id="leadpages-error-firstname"></span>
                    </div>

                    <div class="control-group" id="leadpages-container-email">
                        <div class="controls">
                            <input style="width:100%" name="email" value="" id="email" placeholder="Email" data-source="leadpages-email" data-role="email" required="required" type="email">
                        </div>
                        <span class="error-container" id="leadpages-error-email"></span>
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-submit-button">
                        <input name="submit-button" value="Submit" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-afft-">
                        <input name="afft_" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-aff-">
                        <input name="aff_" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-sess-">
                        <input name="sess_" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-ref-">
                        <input name="ref_" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-own-">
                        <input name="own_" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-oprid">
                        <input name="oprid" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-contact-id">
                        <input name="contact_id" value="" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="hidden-input-container" id="leadpages-container-uid">
                        <input name="uid" value="p2c12342f17" data-role="hidden" data-source="leadpages-hidden" type="hidden">
                    </div>

                    <div class="control-group">
                        <div class="controls" style="text-align: center;">
                            <button id="leadpages-submit-button" type="submit" style="font-family: 'Source Sans Pro', sans-serif; font-size: 24pt; letter-spacing: 0em; background-color: rgb(245, 186, 73); border-style: solid; border-width: 1pt; border-color: rgb(211, 138, 31);color:white;padding: 10px 35px 15px 35px;">
                              
                                <div style="text-align: center">Send My eBook &nbsp;»</div>
						
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="leadpages-privacy-policy" style="font-family: 'Source Sans Pro', sans-serif; font-size: 12pt; letter-spacing: 0em">

                <div style="text-align: center">
                    Your privacy is protected.
                </div>

            </div>
        </div>
    </form>
</div>

<style>
  
  .main-page {
    width: 100%;
    word-wrap: break-word;
}
  .header-bg {
    width: 100%;
    padding: 17px 0 10px;
    background-color: #fffefe;
}
  .header-center {
    margin: 0 auto;
    width: 978px;
    display: table;
    text-align: center;
}
  .header-left {
    width: auto;
    margin: 0 5.4% 0 8.4%;
}
.header-left, .header-right {
    display: inline-block;
    vertical-align: middle;
}
  img {
    vertical-align: middle;
}
  .blue-box {
    width: 100%;
    background-color: #1a7abc;
    margin: 0;
    min-height: 505px;
    position: relative;
    padding-bottom: 30px;
    text-align: center;
}
 .blue-box .blue-box-center {
    margin: 0 auto;
    width: 1200px !important;
}
  .blue-box .left-content {
    display: inline-block;
    vertical-align: top;
    margin: 29px auto 0;
    width: 30%;
    text-align: left;
}
  .blue-box .right-content {
    display: inline-block;
    vertical-align: top;
    margin: 25px auto 0;
    width: 60.6%;
    text-align: left;
    padding-bottom: 25px;
    padding-left: 100px;
}
  .blue-box .left-content .book {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
  .blue-box .left-content .download {
    border: 2px solid #2a304c;
    border-radius: 50px 0 0 50px;
    padding: 5px 3px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    width: 70%;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8dda1), color-stop(100%, #ea9c11));
    background: -webkit-linear-gradient(top, #f8dda1 0%, #ea9c11 100%);
    background: -moz-linear-gradient(top, #f8dda1 0%, #ea9c11 100%);
    background: -ms-linear-gradient(top, #f8dda1 0%, #ea9c11 100%);
    background: -o-linear-gradient(top, #f8dda1 0%, #ea9c11 100%);
    background: linear-gradient(top, #f8dda1 0%, #ea9c11 100%);
    background-color: #ea9c11;
    text-align: center;
}
 .blue-box .left-content p {
    color: #8ec5ec;
    text-align: center;
    padding: 0px;
    margin: 8px 0 0 0;
}
  .blue-box .left-content .download a {
    text-decoration: none;
}
 .blue-box .left-content .download a p {
    display: inline-block!important;
    margin: -1px auto 0;
    padding: 0px;
    color: #2b3955;
    width: 80%;
    vertical-align: middle;
}
  .blue-box .left-content .download span {
    margin: -2px 1px 0 3px;
    display: inline-block;
    vertical-align: middle;
}
  .blue-box .right-content .right-content-title {
    font-size: 15px;
    color: #fffffe;
    font-weight: 700;
    word-wrap: break-word;
}
  .blue-box .right-content .right-content-title h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 7px;
    font-weight: bold;
    font-family: system-ui;
}
  .blue-box .right-content .right-content-text {
    color: #fafafa;
    min-height: 208px;
    padding: 20px 64px;
    width: 85%;
    float: left;
    margin: 5px 0 3%;
}
  .blue-box .right-content .right-content-text h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: #feffff;
    line-height: 27px;
    margin: 0px 0px 10px;
}
  .blue-box .right-content .right-content-text ul {
    margin: 0px;
    padding: 0px;
}
  .blue-box .right-content .right-content-text ul li {
       font-size: 18px;
    line-height: 32px;
    color: white;
    background: url(https://cdn.shopify.com/s/files/1/0431/6089/5646/files/checking-mark_2.png?v=1604670205) left 10px no-repeat;
    padding: 0 0 0 45px;
    list-style: none;
}
  .blue-box .right-content .bottom-box {
    clear: both;
    background-color: #183863;
    border: 3px solid #57a7de;
    margin: 16px auto 0;
    width: 100%;
    padding: 2% 4%;
    margin: 0 auto;
}
 .blue-box .right-content .bottom-box .button {
    background-color: #f5ba49;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #d38a1f;
    width: 94.4%;
}
  .blue-box .right-content .bottom-box .button a {
    color: #282e4a;
    text-decoration: none;
}
  .blue-box .right-content .bottom-box .secure {
    font-size: 13px;
    color: #8cc1e6;
    font-weight: 400;
    text-align: center;
    margin: 8px 0 0;
}
  .blue-box .right-content .bottom-box .secure span {
    margin: 0 5px 0 0;
    display: inline-block;
}
  .blue-box .right-content .bottom-box .secure p {
    margin: 0px;
    padding: 0px;
    display: inline;
    position: relative;
    top: 3px;
}
  .bottom-section {
    background: #fffcfc;
    padding: 0px 0px 10px;
}
  .bottom-section:before {
    margin-top: -35px;
    left: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fffcfc;
    border-width: 30px;
    margin-left: -30px;
    border-width: 18px 70px;
}
  .bottom-section .free-text {
    color: #1b7bbd;
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
}
  .bottom-section .free-text h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    clear: both;
    margin: 0 auto;
    padding: 40px 0;
}
  .footer {
    width: 100%;
    background-color: #f4f4f4;
    min-height: 58px;
    text-align: center;
    color: #666666;
    padding: 25px 0 25px 0;
    font-size: 15px;
}
  .footer p {
    margin: 0px;
    padding: 0px;
}
  #shopify-section-header
  {
    display: none !important;
  }
  #shopify-section-footer-promotions{
    display: none;
  }
  #shopify-section-footer
  {
    display: none !important;
  }
  /* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5db3;
  padding-top: 140px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 5px;
    top: -15px;
    font-size: 40px;
    font-weight: bold;
    color: #00000096;
}

.close:hover,
.close:focus {
  color: #2088e4;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
  
  #leadpages-form.no-image {
    max-width: 500pt;
}
#leadpages-form {
    background: white;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 650pt;
    padding-top: 15pt;
    padding-right: 15pt;
    padding-bottom: 15pt;
    padding-left: 15pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    border-radius: 3pt;
}
  .no-image .leadbox-content-wrapper {
    display: block;
    margin: 0px auto;
}
.leadbox-content-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0px;
    max-width: 400pt;
}
  #leadpages-form-title {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0.6em;
    width: 100%;
    max-width: 400pt;
    color: #5a5a5a;
    font-size: 28pt;
    line-height: 1.2;
    width: 100%;
}
  fieldset {
    display: block;
    vertical-align: top;
    margin: 0 auto;
    max-width: 400pt;
    padding: 0;
    border: none;
}
  .control-group {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 1em 0;
}
  #leadpages-privacy-policy {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0.7em 0 0 0;
    padding: 0 6pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5a5a;
}
  select, textarea, input[type="text"], input[type="date"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="password"] {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.6em 12pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5a5a;
    font-size: 1.2em;
    line-height: 1.2em;
    background: #e1e1e1;
    border: 1pt solid transparent;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}
  @media only screen and (max-width: 1024px) {
.main-content {
    width: 315%;
}
    .blue-box .blue-box-center {
    width: 1020px !important;
    }
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> 

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>