{% section 'page-contact-template' %}
{% comment %}
<div class="one_third">
<div class="contact-info"><strong>Contact us by phone:</strong> <a href="tel:18884079659">1 888.407.9659</a></div>
<div class="contact-info"><strong>Contact us by email:</strong> <a href="mailto:support@tranquilitylabs.com">support@tranquilitylabs.com</a></div>
<div class="contact-info"><strong>Contact us by mail:</strong></div>
<div class="contact-info">Tranquility Labs</div>
<div class="contact-info">1 Shipyard Way Ste. 206</div>
<div class="contact-info">Medford, MA 02155</div>
</div>
{% endcomment %}

<style>
.wrap3 {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.contact-page label {
  font-weight: 400;
}

.question input {
  width: 100%;
}

.contact-info {
  padding-bottom: 1em;
  border-top: none;
}

.contact-info {
  font-weight: 400;
  margin-left: 30px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding-top: 1em;
}

.one_third {
  width: 33.333%;
  position: absolute;
  right: 70px;
  bottom: -15px;
}

#contact_form {
  width: 100%;
  float: left;
}

@media (max-width: 768px) {
  .one_third {
    width: 75%;
    position: static !important;
  }
  #contact_form {
    width: 100%;
  }
}

#contact_form {
  border: 5px solid #f4f4f4;
  padding: 20px 30px;
}

.entry-content {
  margin: 2.5em 0 0;
}

textarea {
  overflow: auto;
  padding-left: 3px;
  vertical-align: top;
  width: 100%;
}

p {
  margin-bottom: 1.5em;
}

.contact-row {
  margin-bottom: 1.5em;
}

.name {
  width: 48%;
  float: left;
}

.email {
  width: 48%;
  float: right;
}

.cf:after,
.single .site-content:after,
.blog .site-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.question {
  border-bottom: 1px solid #e8e8e8;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.section-header {
  display: none !important;
}

.page-content,
.shopify-policy__container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
</style>
